# El Front habla solo con el Gateway; el Gateway enruta por path a cada servicio.
VITE_AUTH_API_URL=http://localhost:8080
VITE_CORE_API_URL=http://localhost:8080
VITE_PAYMENT_API_URL=http://localhost:8080
